Repository googleapis/python-documentai, pull requests merged in 2021-01, with the labels that each got.

#80 feat: add from_service_account_info factory and fix sphinx identifiers
  .coveragerc
  docs/documentai_v1beta2/document_understanding_service.rst
  docs/documentai_v1beta2/services.rst
  docs/documentai_v1beta2/types.rst
  docs/documentai_v1beta3/document_processor_service.rst
  docs/documentai_v1beta3/services.rst
  docs/documentai_v1beta3/types.rst
  google/cloud/documentai_v1beta2/services/document_understanding_service/async_client.py
  google/cloud/documentai_v1beta2/services/document_understanding_service/client.py
  google/cloud/documentai_v1beta2/types/document.py
  google/cloud/documentai_v1beta2/types/document_understanding.py
  google/cloud/documentai_v1beta2/types/geometry.py
  google/cloud/documentai_v1beta3/services/document_processor_service/async_client.py
  google/cloud/documentai_v1beta3/services/document_processor_service/client.py
  google/cloud/documentai_v1beta3/types/document.py
  google/cloud/documentai_v1beta3/types/document_processor_service.py
  google/cloud/documentai_v1beta3/types/geometry.py
  synth.metadata
  tests/unit/gapic/documentai_v1beta2/test_document_understanding_service.py
  tests/unit/gapic/documentai_v1beta3/test_document_processor_service.py
Labels: api: documentai, cla: yes, context: full

#79 samples: migrate v1beta2 doc AI samples
  samples/snippets/batch_parse_form_v1beta2.py
  samples/snippets/batch_parse_form_v1beta2_test.py
  samples/snippets/batch_parse_table_v1beta2.py
  samples/snippets/batch_parse_table_v1beta2_test.py
  samples/snippets/noxfile.py
  samples/snippets/parse_form_v1beta2.py
  samples/snippets/parse_form_v1beta2_test.py
  samples/snippets/parse_table_v1beta2.py
  samples/snippets/parse_table_v1beta2_test.py
  samples/snippets/parse_with_model_v1beta2.py
  samples/snippets/parse_with_model_v1beta2_test.py
  samples/snippets/quickstart_v1beta2.py
  samples/snippets/quickstart_v1beta2_test.py
  samples/snippets/set_endpoint_v1beta2.py
  samples/snippets/set_endpoint_v1beta2_test.py
Labels: api: documentai, cla: yes, samples

#84 chore: added increased timeout on flaky batch request
  samples/snippets/batch_parse_form_v1beta2.py
  samples/snippets/batch_parse_form_v1beta2_test.py
  samples/snippets/batch_parse_table_v1beta2.py
  samples/snippets/batch_parse_table_v1beta2_test.py
Labels: api: documentai, cla: yes

#87 chore: exclude `.nox` directories from linting
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: documentai, cla: yes, context: full
