Repository googleapis/python-documentai, pull requests merged in 2021-04, with the labels that each got.

#113 chore: add tarfile
  documentai-v1beta3-py.tar.gz
  synth.metadata
Labels: api: documentai, cla: yes, context: none

#117 chore: delete tarfile
  documentai-v1beta2-py.tar.gz
  synth.metadata
Labels: api: documentai, cla: yes, context: none

#108 samples: updates Document AI samples to v1 version of service
  samples/snippets/batch_process_documents_sample_v1beta3.py
Labels: api: documentai, cla: yes, samples

#121 samples: more updates for v1
  samples/snippets/batch_parse_form_v1beta2.py
  samples/snippets/batch_parse_form_v1beta2_test.py
  samples/snippets/batch_parse_table_v1beta2.py
  samples/snippets/batch_parse_table_v1beta2_test.py
  samples/snippets/batch_process_documents_sample.py
  samples/snippets/batch_process_documents_sample_bad_input_test.py
  samples/snippets/batch_process_documents_sample_test.py
  samples/snippets/noxfile.py
  samples/snippets/process_document_sample.py
  samples/snippets/process_document_sample_test.py
  samples/snippets/quickstart_sample.py
  samples/snippets/quickstart_sample_test.py
Labels: api: documentai, cla: yes, samples

#122 chore: prevent normalization of semver versioning
  setup.py
Labels: api: documentai, automerge, cla: yes

#120 chore: template updates
  .github/header-checker-lint.yml
  documentai-v1-py.tar.gz
  renovate.json
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: documentai, automerge, cla: yes, context: partial

#129 chore(revert): revert preventing normalization
  setup.py
Labels: api: documentai, cla: yes
